*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container{
    width:80%;
    margin: auto;
    border: 2px solid royalblue;
}
nav{
        display: flex;
        height: 60px;
        background-color:white;
        color:gray;
        justify-content: space-between;
        align-items: center;
        padding: 0px 25px;
    }
    nav button{
        border: 0px;
        background-color: white;
        margin: 15px 15px;
    }
    nav>div:nth-child(1)>button{
        color: black;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    }
    nav>div:nth-child(2)>button{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: gray;
        font-size: 12px;
    }
    #header img:nth-child(1){
        width: 30%;
        display: block;
        margin: auto;
    }
    nav>div:nth-child(3){
        display: flex;
    }
    #header>div{
        display: flex;
        padding: 40px 40px;
    }
    #header>div>img:nth-child(1){
        display: block;
        width: 270px;
        border: 2px solid red;
        box-sizing: inherit;
        border: 0px;
    }
    #header>div button{
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: 0px;
        background-color: white;
    }
    #header>div img:nth-child(2){
        width: 35px;
    }
    h6{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        font-size: 15px;
        padding: 20px 20px;
        }
        #banner,#banner3{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            margin: auto;
            padding: 20px 0px;
            gap: 20px;
        }
        #banner img,#banner3 img{
            display: block;
        width: 100%;
        }
        #banner h6,#banner3 h6{
            color:brown;
            text-align: center;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 70px;
            padding: 10px 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 200;
            }
            #banner button,#banner3 button{
                width: 120px;
                height: 40px;
                display: block;
                margin: auto;
                padding: 5px 10px;
                color:black;
                background-color: white;
                border: 0px;
                }
                #banner3 button{
                    width: 120px;
                height: 40px;
                display: block;
                margin: auto;
                padding: 5px 10px;
                color:white;
                background-color:black;
                border: 0px;
                }
                #banner3>div:nth-child(1){
                    background-color:#FFA726;
                }
                #banner2 img{
                    display: block;
                    margin: auto;
                width: 100%;
                }
                #banner2 h6{
                    color:brown;
                    text-align: center;
                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 70px;
                    padding: 10px 10px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 200;
                    }
                    #banner2 button{
                        width: 120px;
                        height: 40px;
                        display: block;
                        margin: auto;
                        padding: 5px 10px;
                        color:black;
                        background-color: white;
                        border: 0px;
                        }
                        /* #banner2>div:nth-child(1){
                            position: relative;
                        }
                        #banner2>div:nth-child(2){
                            position: absolute;
                            float: inherit;
                        } */
        #about p,#about h3{
        text-align: center;
        padding: 10px 0px;
        
        }
        #about{
            width: 80%;
            margin: auto;
        }
        #about h6,#about p{
            text-align: justify;
            padding-left: 5px;
        }
        #playstore h3{
        text-align: justify;
        margin-top: 20px;
        }
        #playstore>div{
        width: 180px;
        display: flex;
        margin: auto;
        padding: 20px 0px;
        }
        #playstore img{
        width: 100px;
        display: block;
        }
        #bullet{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 30px;
            margin: auto;
            padding: 20px 0px;
        }
        #bullet>div:nth-child(1){
            padding-left: 40px;
        }
        #bullet h4{
            text-align: justify;
            padding-bottom: 20px;
        }
        #footer{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            margin: auto;
            gap: 5px;
        }
        #footer h6{
            text-align: left;
            padding-left: 5px;
            font-size: 17px;
            padding-bottom: 5px;
        }
        #footer p:nth-child(7),#footer p:nth-child(3),#footer p:nth-child(5){
            padding-left: 10px;
            font-weight: 600;
            color: gray;
        }
        #footer p{
            padding: 10px 0px;
        }
        #footer ul{
            list-style-type: none;
            color: gray;
            font-size: 17px;
        }
        li:hover{
            cursor:pointer;
        }
        li{
            padding: 7px 0px;
        }
        #footer input{
            margin:10px 0px;
        }
        