*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none !important;
    color: inherit;
}
#container{
    width:80%;
    margin: auto;
    border: 2px solid royalblue;
}
nav{
        display: flex;
        height: 60px;
        background-color:white;
        color:gray;
        justify-content: space-between;
        align-items: center;
        padding: 0px 25px;
    }
    nav button{
        border: 0px;
        background-color: white;
        margin: 15px 15px;
    }
    nav>div:nth-child(1)>button{
        color: black;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    }
    nav>div:nth-child(2)>button{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: gray;
        font-size: 12px;
    }
    #header img:nth-child(1){
        width: 30%;
        display: block;
        margin: auto;
    }
    nav>div:nth-child(3){
        display: flex;
    }
    #header>div{
        display: flex;
        padding: 40px 40px;
    }
    #header>div>img:nth-child(1){
        display: block;
        width: 270px;
        box-sizing: inherit;
        border: 0px;
    }
    #header>div button{
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: 0px;
        background-color: white;
    }
    #header>div img:nth-child(2){
        width: 35px;
    }

   
#banner{
margin-top: 20px;
gap: 20px 20px;
display: grid;
grid-template-columns: repeat(1,1fr);
width: 100%;
}
#banner>div{
gap: 20px;
}
#banner img{
display: block;
width: 100%;
}

#banner>div:nth-child(2) h4,#banner>div:nth-child(2) h1{
color:brown;
text-align: center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#banner>div:nth-child(2) h4{
font-size: 20px;
padding: 10px 10px;
}
#banner>div:nth-child(2) h1{
font-size: 50px;
padding: 5px 10px;
}
#banner>div:nth-child(2) button{
width: 200px;
display: block;
margin: auto;
padding: 5px 10px;
color: black;
background-color: white;
border: 0px;
}
#banner>div:nth-child(3){
background-color: #F5F5F5;
padding: 40px 40px;
}
#banner>div:nth-child(3) h4,#banner>div:nth-child(3) h1{
color:black;
/* border:2px solid blue; */
text-align: center;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#banner>div:nth-child(3) h4{
font-size: 15px;
padding: 10px 10px;
}
#banner>div:nth-child(3) h1{
font-size: 30px;
padding: 5px 10px;
}
#banner>div:nth-child(3) button{
width: 150px;
display: block;
margin: auto;
padding: 5px 10px;
color:white;
background-color: black;
border: 0px;
}
#pro{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px;
padding-bottom: 30px;
}
#pro img{
width: 100%;
}

#pro>div:nth-child(2)>div{
height: 100%;
margin: auto;

}
#pro>div:nth-child(2){
display: grid;
grid-template-columns: repeat(1,1fr);

}
#pro button{
display: block;
margin: auto;
color: white;
background-color: black;
margin-top: 30px;
}
#pro h3{
display:block;
margin: auto;
text-align: center;
font-family:Arial, Helvetica, sans-serif;
font-weight: 200;
font-size: 30px;
width: 380px;
padding-bottom: 20px;
}
h6{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: 200;
font-size: 15px;
padding: 20px 20px;
}
#about p,#about h3{
text-align: center;
padding: 10px 0px;


}
#about{
    width: 80%;
    margin: auto;
}
#about h6{
    text-align: left;
}
#playstore h3{
text-align: center;
margin-top: 20px;
}
#playstore>div{
width: 180px;
display: flex;
margin: auto;
padding: 20px 0px;
}
#playstore img{
width: 100px;
display: block;
}
#bullet{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin: auto;
    padding: 20px 0px;
}
#bullet>div:nth-child(1){
    padding-left: 40px;
}
#bullet h4{
    text-align: justify;
    padding-bottom: 20px;
}
#footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: auto;
    gap: 5px;
}
#footer h6{
    text-align: left;
    padding-left: 5px;
    font-size: 17px;
    padding-bottom: 5px;
}
#footer p:nth-child(7),#footer p:nth-child(3),#footer p:nth-child(5){
    padding-left: 10px;
    font-weight: 600;
    color: gray;
}
#footer p{
    padding: 10px 0px;
}
#footer ul{
    list-style-type: none;
    color: gray;
    font-size: 17px;
}
li:hover{
    cursor:pointer;
}
li{
    padding: 7px 0px;
}
#footer input{
    margin:10px 0px;
}
#slideshow{
    position:relative; 
    height:70px;
}
#slideshow p{
    text-align: center;
    color: red;
    padding: 20px 10px;
}
  
#slideshow {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
z-index: 1;
}


.dropbtn {
    padding: 5px;
    font-size: 15px;
    border: none;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

